<div class="my-4">
    <div>
        <h2>Courses deleted</h2>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Create Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Restore</a>
                    <a href="" class="btn btn-primary my-2" data-toggle="modal" data-target="#deleteConfirm"
                        data-id="{{this._id}}">Delete</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Recycle Bin is empty.
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="5" class="text-center">
                    <a href="/user/stored/courses" class="btn btn-success">Back to Courses List</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Action cannot be restored!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to permanently delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" class="btn btn-success">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<form name="btnDeleteCourse" method="POST"></form>
<form name="btnRestoreCourse" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var courseID;
        const deleteForm = document.forms['btnDeleteCourse'];
        const restoreForm = document.forms['btnRestoreCourse'];

        const restoreBin = $('.btn-restore');

        $('#deleteConfirm').on('show.bs.modal', (event) => {
            const button = $(event.relatedTarget);
            courseID = button.data('id');
        });

        const btnDel = document.getElementById('btnDeleteCourse');
        btnDel.onclick = () => {
            deleteForm.action = '/courses/' + courseID + '/destroy?_method=DELETE';
            deleteForm.submit();
        };

        restoreBin.click(function (event) {
            event.preventDefault();

            let iD = $(this).data('id');
            restoreForm.action = '/courses/' + iD + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    });
</script>