<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <div class="title-header d-flex justify-content-between">
            <h2>My Courses</h2>
            <a href="/user/recyclebin/courses" class="btn btn-dark mr-4"> Recycle Bin ({{deleteCount}})</a>
        </div>
    </div>
    <div class="mt-4 d-flex align-items-center ">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkAll">
            <label class="form-check-label" for="checkAll">Choose All</label>
        </div>
        <select class="form-control form-control-sm w-25 mx-3" name="action">
            <option value="delete">Delete</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <button class="btn btn-primary btn-checked-all-submit" disabled>Confirm</button>
    </div>

    <table class="table mt-5 table-hover ">
        <thead>
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">
                    Course Name
                    <a href="?_sort&column=name&type=desc">
                        <i class="fa fa-sort"></i>
                    </a>
                </th>
                <th scope="col">Create Time</th>
                <th scope="col">
                    <button class="btn btn-success"><a href="/courses/create"
                            style="text-decoration: none; color:white;">Create Course</a></button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirm"
                        data-id="{{this._id}}">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    No Courses Yet.
                    <a href="/courses/create">Create Course Here</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" class="btn btn-success">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<form name="btnDeleteCourse" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let courseID;
        const deleteForm = document.forms['btnDeleteCourse'];
        const containerForm = document.forms['container-form'];
        const checkAll = $('#checkAll');
        const courseItemCheck = $('input[name="courseIds[]"]');
        const checkAllSubmit = $('.btn-checked-all-submit');

        // When dialog confirm clicked
        $('#deleteConfirm').on('show.bs.modal', (event) => {
            const button = $(event.relatedTarget);
            courseID = button.data('id');
        });

        //when delete course btn clicked
        const btnDel = document.getElementById('btnDeleteCourse');
        btnDel.onclick = () => {
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkAll changed
        checkAll.change(function () {
            let isCheckedAll = $(this).prop('checked');
            courseItemCheck.prop('checked', isCheckedAll);

            renderCheckAllBtnSubmit();
        });

        //courses Item checkbox changed
        courseItemCheck.change(function () {
            let isCheckedAll = courseItemCheck.length === $('input[name="courseIds[]"]:checked').length;
            checkAll.prop('checked', isCheckedAll);

            renderCheckAllBtnSubmit();
        });

        //check all submit clicked
        checkAllSubmit.click(function (e) {
            e.preventDefault();
            const isSubmittable = !$(this).hasClass('disabled');

            if (isSubmittable) {
                containerForm.submit();
            }
        });

        //render check all submit
        const renderCheckAllBtnSubmit = () => {
            const checkedCount = $('input[name="courseIds[]"]:checked').length;

            if (checkedCount) {
                checkAllSubmit.attr('disabled', false);
            } else {
                checkAllSubmit.attr('disabled', true);
            }
        };

        //console.log(containerForm);
    });
</script>